version: '3.8'

services:
  backend:
    build: ./backend
    container_name: peliplus_api
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    # AQUÍ ESTÁ EL CAMBIO:
    # Le decimos a Docker que cargue las variables desde tu archivo existente
    env_file:
      - ./backend/.env