/* --- Configuración General --- */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #212529; /* Fondo oscuro base */
  color: white;
}

/* --- Navbars Responsivos --- */
.bottom-navbar {
  display: none;
  justify-content: space-around; 
}

@media (max-width: 767.98px) {
  body {
    padding-top: 0; 
    padding-bottom: 56px; 
  }
  .top-navbar {
    display: none !important;
  }
  .bottom-navbar {
    display: flex;
  }
}

/* --- Carrusel Principal --- */
#hero-carousel .carousel-item img {
    height: 400px; 
    object-fit: cover; 
    object-position: center top;
    filter: brightness(0.7);
}

/* --- Tarjetas de Películas (Grid) --- */
.card {
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
    z-index: 10;
}

.card-img-top {
    height: 350px; /* Altura estandarizada para todas las carátulas */
    object-fit: cover;
    border-radius: 8px;
}

.card-body {
    padding: 10px 0;
    color: #e0e0e0;
}